@mixin size($height, $width) {
  height: $height;
  width: $width;
}

@mixin userDetailTitle {
  font-size: 1rem;
  font-weight: 600;
  color: $primary-color;
  margin-bottom: 1.5rem;
}

@mixin userDetailGrid($gap: 1.5rem) {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: $gap;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

@mixin userHeading(
  $font-size: 0.875rem,
  $font-weight: 400,
  $color: $light-gray,
  $upper-case: uppercase
) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
  text-transform: $upper-case;
}

@mixin userParagraph($font-size: 1rem, $font-weight: 500, $color: $light-gray) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}
