header.header {
  display: flex;
  position: sticky;
  height: 56px;
  align-items: center;
  gap: 16px;
  box-shadow: 0 4px 6px $sm-shadow;
  background-color: #ffffff;
  padding-left: 16px;
  padding-right: 16px;
  z-index: 40;

  @media (min-width: 1024px) {
    height: 60px;
    padding-left: 24px;
    padding-right: 24px;
  }

  @media (min-width: 640px) {
    position: fixed;
    width: 100%;
    height: auto;
    padding:  1rem 1rem;
  }
  
}
